accelerate
beautifulsoup4
faiss-cpu
google-ai-generativelanguage
google-generativeai
huggingface-hub
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
matplotlib
numpy
openai
pandas
requests
scikit-learn
seaborn
torch
transformers